.wrapper {
  display: flex;
  justify-content: center;
}

.plan {
  height: auto;
  width: 70%;
  cursor: pointer;
}

.marker {
  z-index: 1;
}

.marker_wrapper {
  position: relative;
  height: auto;
  width: 70%;
}
